.container {
    align-items: center;
}

/* Podium */
ul {
    list-style: none;
    height: 300px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 40px;
    padding: 20px 20px 0 20px;

    margin: 0;
}

li {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #5c5be5;
    border-radius: 10px 10px 0 0;
    height: 20%;

    transition: all 2s ease-in-out;
}

li i {
    font-size: 50px;
    margin-top: -60px;
}

ul .loaded-first {
    height: 60%;
}

ul .loaded-second {
    height: 40%;
}

ul .loaded-third {
    height: 30%;
}

hr {
    margin: 0;
    color: #380036;
}

/* Leaderboard */
table {
    margin: 0 auto 100px auto;
    padding-bottom: 100px;

    width: 40%;
    border-collapse: collapse;
    cursor: default;
    background-color: #eeeeee;
    box-shadow: 0px 5px 15px 8px #c5c5c5;
    padding: 40px;
}

th {
    height: 50px;
}

tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
}

tr:not(:first-child):hover {
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 5px 15px 8px #c5c5c5;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

td {
    height: 5rem;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
}

.number {
    font-size: 1.2rem;
    padding-right: 0;
    margin: 0;
    text-align: right;
    width: 5%;
}

.name {
    font-weight: bold;
    text-align: left;
    width: 55%;
}

.points {
    font-weight: bold;
    font-size: 1.3rem;
    width: 40%;
}

@media (max-width: 740px) {
    /* * {
        font-size: 70%;
    } */

    table {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 500px) {
    /* * {
        font-size: 55%;
    } */
}

@media (max-width: 390px) {
    /* * {
        font-size: 45%;
    } */
}